<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
    <link rel="stylesheet" href="style/GamesStyle.css">
    <link rel="icon" type="image/x-icon" href="logos/Logo.jpg">
</head>
<body>
    <nav>
        <ul id="ul_nav">
            <li><a href="../Views/Home.html">About Us</a></li>
            <li><a href="../Views/Events.html">Events</a></li>
            <li><a href="../Views/Games.html" class="active">Games</a></li>
            <li><a href="../Views/SignUp.html">Join</a></li>
            <li><a href="../Views/Socials.html">Social</a></li>
            <li><a href="../Views/ContactUs.html">Contact Us</a></li>
        </ul>
    </nav>
    <header>
        <h1>Retro Games Showcase</h1>
        <p>Explore some of the most iconic retro games of all time!</p>
    </header>

    <main>
        <section class="game">
            <a href="https://en.wikipedia.org/wiki/Mario">
                <img src="logos/Brothers-ezgif.com-webp-to-jpg-converter.jpg" alt="Super Mario" class="game-image">  <!--# got image from here https://variety.com/2023/music/news/super-mario-bros-score-references-koji-kondo-1235574953/ -->
            </a>
            <div class="game-info">
                <h2>Super Mario</h2>
                <p>Join Mario and Luigi on their adventures to rescue Princess Peach and save the Mushroom Kingdom in this iconic platformer.</p>
            </div>
        </section>

        <section class="game">
            <a href="https://en.wikipedia.org/wiki/The_Legend_of_Zelda">
                <img src="logos/zelda-ezgif.com-webp-to-jpg-converter.jpg" alt="The Legend of Zelda" class="game-image">  <!--# image taken from here https://variety.com/2023/film/news/zelda-movie-nintendo-wes-ball-1235783308/ -->
            </a>
            <div class="game-info">
                <h2>The Legend of Zelda</h2>
                <p>Embark on an epic quest with Link to rescue Princess Zelda and defeat the evil Ganon in this legendary action-adventure game.</p>
            </div>
        </section>

        <section class="game">
            <a href="https://en.wikipedia.org/wiki/Sonic_the_Hedgehog">
              
                <img src="logos/Sonic3.jpg" alt="Sonic the Hedgehog" class="game-image"> <!--# image from here https://x.com/sonic_hedgehog/status/1235248877508284416 -->
            </a>
            <div class="game-info">
                <h2>Sonic the Hedgehog</h2>
                <p>Experience the speed and thrill of Sonic as he races through zones to stop the evil Dr. Robotnik and save his friends.</p>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 MTU Retro Games Club. All rights reserved.</p>
        <p><a href="PrivacyTerms.html">Privacy Policy</a> | <a href="TermsCond.html">Terms & Conditions</a></p>
    </footer>
</body>
</html>
