<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MTU Retro Games</title>
    <link rel="stylesheet" href="style/WelcomeStyle.css">
    <link rel="icon" type="image/x-icon" href="logos/Logo.jpg">
</head>
<body>
    <div class="background"></div>
    <div class="content">
        <h1 id="WelcomeText"><i>Welcome to MTU RETRO GAMING CLUB</i></h1>
        <a href="Home.html">
            <button id="button">🚀 Enter the Club 🚀</button>
        </a>
    </div>


    <div class="side-image left">
        <img src="logos/thumb-1920-1363728.png" alt="Super">
    </div>
    <div class="side-image right">
        <img src="logos/legend-of-zelda-nintendo-social-featured.jpg" alt="The Legend of Zelda">
    </div>
</body>
</html>
